{% extends 'base.html' %}
{% load crispy_forms_tags %}




{% block content %}

<h3>Congratulations, {{ test.title}} test is finished</h3>
<table class="table table-hover">

        <tr>
            <td> Score</td>
            <td> {{test_result.avg_score}} </td>
        </tr>
        <tr>
            <td> Time spent</td>
            <td> {{time_spent}} </td>
        </tr>
        <tr>
            <td> num_of_runs</td>
            <td> {{num_of_runs}} </td>
        </tr>
        <tr>
            <td> best_result</td>
            <td> {{best_result}} </td>
        </tr>

    </table>
        <div class="d-flex justify-content-center mt-5 mb-5">
            <a href="{% url 'test:list' %}" type="button" class="btn-lg btn-success">START ANOTHER TEST</a>
        </div>
{% endblock %}