{% extends 'base.html' %}
{% load crispy_forms_tags %}




{% block content %}
<div class="media">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{test.title}} test</th>
            <th></th>

        </tr>
        </thead>

        <tr>
            <td> Num of questions</td>
            <td> {{ length }}</td>
        </tr>
        <tr>
            <td> Num of runs</td>
            <td> num of runs</td>
        </tr>
        <tr>
            <td> Best result </td>
            <td> {{ length }}</td>
        </tr>
        <tr>
            <td> Last run</td>
            <td> {{test.last_run}}</td>
        </tr>
        <tr>
            <td> Current open run </td>
            <td> {{ test_result.datetime_run }}</td>
        </tr>
        <tr>
            <td> User </td>
            <td> {{ test_result }}</td>
        </tr>
        {% if message %}
        <tr>
            <td> Message </td>
            <td> {{ message }}</td>
        </tr>
        <tr>
            <td> current_run </td>
            <td> {{ current_run }}</td>
        </tr>
        {% endif %}
    </table>
    {% if message %}
    <div class="img-circle.vert">
        <img class="rounded-circle p-1 m-1" width="300" height="300" src="{{ test.image.url }}">
        <a href="question/{{ current_run }}" class="btn btn-primary">Continue test</a>
    </div>
    {% else %}
    <div class="img-circle.vert">
        <img class="rounded-circle p-1 m-1" width="300" height="300" src="{{ test.image.url }}">
        <a href="question/1" class="btn btn-primary">Begin test</a>
    </div>
    {% endif %}
</div>


{% endblock %}