
{% if list %}

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
              <th>Avatar</th>
              <th>User</th>
              <th>Total number of runs</th>
              <th>Last run</th>
              <th>Total score</th>
            </tr>
        </thead>

            {% for User in list %}
                <tr>
                  <td>
                  <div class="media">
                        <div class="img-circle.vert">
                            <img class="rounded-circle p-1 m-1" width="80" height="80" src="{{ User.pic }}">
                        </div>
                    </div>
                  </td>
                  <td> {{ User.name }}</td>
                  <td> {{ User.total_number_of_runs }}</td>
                  <td> {{ User.last_run }}</td>
                  <td> {{ User.total_score }}</td>

                </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Sorry, list is empty</p>
{% endif %}

